@import './base.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-size: 32px;
  margin-bottom: 48px;
}

.auth__contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 380px;
  width: 100%;
}

.form__submit {
  margin: 38px 0;
}
